<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>POST FORM</title>
</head>

<body>
  <form action="/postdata" method="POST">
    <label>I AM A POST FORM</label><br />
    <label>[see the address bar i hide ur password😊]</label>
    <hr />
    <label>Enter Name:</label>
    <input type="text" name="username" /><br />
    <label>Enter Password:</label>
    <input type="text" name="userpassword" />
    <hr />
    <label>Enter Hobbies:</label>
    <input type="text" name="userhobbies" />
    <button type="submit">Submit</button>
  </form>
</body>

</html>