<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <h2>Signup Page</h2>
  </head>
  <body>
    <form action="/storeinfo" method="post">
      <label>Create Username:</label>
      <input type="text" class="form-control" name="newname" /><br />
      <label>Create Password:</label>
      <input type="password" class="form-control" name="newpass" /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
