<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div>
      <h2>Create Form</h2>
      <form action="/successaddPost" method="post">
        <label>Enter Title:</label>
        <input type="text" placeholder="title" name="title" /><br />
        <label>Enter content:</label>
        <input type="text" placeholder="content" name="content" /><br />
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
