table,
th,
td {
  border: 1px solid #040404;
  text-align: center;
  padding: 5px 0px;
}

th {
  background-color: #57564b;
  color: white;
  font-weight: 400;
}

tr:hover {
  background-color: rgb(230, 214, 101);
}

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  background-color: #e1902f;
  font-weight: 600;
}

#first {
  width: 60%;
}
#second {
  width: 25%;
}
#third {
  width: 15%;
}

.marked {
  color: red;
}

#a {
  padding: 0 0;
  color: rgb(0, 0, 0);
}
#a:hover {
  background-color: blue;
  /* transform: scale(1.2); */
}
#b {
  padding: 0 0;
  /* background: pink; */
}
#b:hover {
  background-color: red;
  /* transform: scale(1.2); */
}
