<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link href="../src/output.css" rel="stylesheet" />
  </head>
  <body>
    <h2 class="text-3xl font-bold underline">Signup Page</h2>
    <div class="container bg-slate-600 text-white">
      <form action="/storeinfo" method="post">
        <label>Create Username:</label>
        <input type="text" class="form-control" name="newname" /><br />
        <label>Create Password:</label>
        <input type="password" class="form-control" name="newpass" /><br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
