<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h2>Login Successfull</h2>
    <h4>Welcome <%= name %></h4>
    <button type="button" class="btn btn-warning">
      <a href="/logout">Logout</a>
    </button>
  </body>
</html>
