body {
  display: block;
  margin: 0px;
  background-color: rgb(209, 144, 23);
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #dcec46;
  padding: 11px 10px 11px 10px;
  justify-content: space-around;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 10px;
}
