nav {
  background-color: aquamarine;
  border: 2px solid black;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 20px 0;
  font-size: 2px;
  /* padding-bottom: 30px; */
  /* justify-content: space-around; */
}

.leftnav {
  border: 2px solid black;
  position: absolute;
  left: 10px;
  top: 10px;
}

.rightnav {
  border: 2px solid black;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  /* padding: 0 12px; */
  /* margin: 0 20px; */
}
/* align-items: center; */

/* height: 50px; */
