footer {
  border: 2px solid black;
  background-color: #c4ac11;
  width: 100%;
  padding-top: 10px;
  display: flex;
  position: static;
  bottom: 0;
  /* text-align: center; */
  /* justify-content: space-around; */
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

footer li {
  padding: 5px 10px;
  font-size: smaller;
}
