<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      { data.map((dat)=>(
      <ul key="{dat.id}">
        <li>Id is:<%= dat.id %></li>
        <li>Name is: <%= dat.NAME %></li>
        <li>Rollnumber is: <%= dat.ROLLNUMBER %></li>
        <li>Stream is: <%= dat.STREAM %></li>
      </ul>
      )) }
    </div>
    <button type="button" class="btn btn-warning">
      <a href="/">HomePage</a>
    </button>
  </body>
</html>
