<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <h2>Welcome To the HomePage</h2>
    <label>Choose any one option</label> <br />
    <button><a href="/createform">Create</a></button> <br />
    <button><a href="/readinfo">Read</a></button> <br />
    <button><a href="/updateinfo">Update</a></button> <br />
    <button><a href="/deleteinfo">Delete</a></button>
  </body>
</html>
