<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <h2>Login Page</h2>
  </head>
  <body>
    <form action="/login" method="post">
      <label>Enter Username:</label>
      <input type="text" class="form-control" name="username" /><br />
      <label>Enter Password:</label>
      <input type="password" class="form-control" name="userpass" /><br />
      <button type="submit">Submit</button>
    </form>
    <button>
      <a href="/signupform">Signup</a>
    </button>
  </body>
</html>
