.lowercontainer {
  background-color: #cb8430;
  border: 2px solid black;
  border-radius: 7px;
  box-sizing: border-box;
  min-height: 300px;
  margin: 2px 10px;
  /* min-width: 200px; */
  /* min-height: 80px; */
}

h3 {
  text-align: left;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
}

#first {
  width: 60%;
}
#second {
  width: 25%;
}
#third {
  width: 15%;
}

/* #todo-list {
}  */
