table,
th,
td {
  border: 1px solid #040404;
  text-align: center;
  padding: 5px 0px;
}

tr:hover {
  background-color: rgb(230, 214, 101);
}

th {
  background-color: #57564b;
  color: white;
  font-weight: 400;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#first {
  width: 60%;
}
#second {
  width: 25%;
}
#third {
  width: 15%;
}

.marked {
  color: red;
}

/* td#statuschange {
  padding: 0 0;
  background: pink;
}
td#deletetodo {
  padding: 0 0;
  background: pink;
} */
