body {
  background-color: #fff;
}
.uppercontainer {
  /* background-color: #ff000091;
  border: 2px solid black; */
  border-radius: 7px;
  box-sizing: border-box;
  height: 85px;
  text-align: center;
  margin: 2px 10px 2px 10px;
  /* justify-content: center; */
  /* padding: 0px 0 15px 0; */
  /* min-width: 200px; */
}
.container {
  /* background-color: #ff000091;
  border: 2px solid black; */
  border-radius: 7px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  /* text-align: center; */
}

input[type="text"] {
  box-sizing: border-box;
  border: 2px solid black;
  border-right: 0;
  width: 400px;
  height: 27px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin: 10px 0;
  padding: 7px 10px;
  /* min-width: 30vw;
  max-width: 50vw; */
  /* min-width: 170px; */
  /* min-height: 200px; */
}

/* input[type="text"]::placeholder {
  color: black;
} */

#add {
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 0;
  border-left: 0;
  height: 27px;
  /* font-weight: bold; */
  /* font-size: 3px; */
  /* padding: 5px 5px; */
  /* margin-top: 8px; */
}
