/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background-color: rgb(224, 151, 55);
  text-align: center;
  justify-content: center;
}

.header {
  background-color: #e1cd37;
  border: 2px solid black;
  border-radius: 7px;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  /* max-width: 300px; */
  /* max-height: 500px; */
  /* text-align: center;
  justify-content: center; */
  /* padding: 0px 0 15px 0; */
}
