body {
  background-color: #fff;
}
.uppercontainer {
  background-color: #e19393;
  border: 2px solid black;
  border-radius: 7px;
  box-sizing: border-box;
  min-height: 100px;
  text-align: center;
  margin: 2px 10px 2px 10px;
  /* padding: 0px 0 15px 0; */
  /* min-width: 200px; */
}

input[type="text"] {
  box-sizing: border-box;
  width: 300px;
  border: 2px solid black;
  text-align: center;
  padding: 4px 6px;
  margin: 8px 2px;
  /* min-width: 30vw;
  max-width: 50vw; */
  /* min-width: 170px; */
  /* min-height: 200px; */
}
